<div id="page-wrapper">
   <div class="row">
      <div class="col-lg-12">
         <h1 class="page-header">Line chart</h1>
      </div>
      <!-- /.col-lg-12 -->
   </div>
   <!-- /.row -->
   <div class="row">
      <div class="col-lg-12">
         <div class="panel panel-default">
            <div class="panel-heading">
               Linechart of your shop
            </div>
            <div class="panel-body">
                    <table class="table table-bordered">
                            <thead>
                              <tr>
                                <th></th>
                                <th>Jan</th>
                                <th>Feb</th>
                                <th>March</th>
                                <th>Aril</th>
                                <th>May</th>
                                <th>June</th>
                                <th>July</th>
                                <th>Agust</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>2500</td>
                                <td ></td>
                                <td></td>
                                <td ></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr>
                                <td>2000</td>
                                <td style="background:#337ab7;"></td>
                                <td ></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr>
                                <td>1500</td>
                                <td style="background:#337ab7;"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td ></td>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr>
                                <td>1000</td>
                                <td style="background:#337ab7;"></td>
                                <td style="background:#337ab7;"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr>
                                <td>500</td>
                                <td style="background:#337ab7;"></td>
                                <td style="background:#337ab7;"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                             
                            </tbody>
                    </table>
            </div>
            <!-- /.panel-body -->
         </div>
         <!-- /.panel -->
      </div>
      <!-- /.col-lg-12 -->
   </div>
   <!-- /.row -->
</div>
<!-- /#page-wrapper -->